fastapi==0.115.13
hubspot-api-client==12.0.0
openai==1.88.0
psycopg2-binary==2.9.10
pydantic==2.11.7
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-multipart==0.0.20
requests==2.32.4
SQLAlchemy==2.0.41
uvicorn==0.34.3
